<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= postagem.titulo %></title>
  <link rel="stylesheet" href="/styles/style_postagem.css">
</head>
<body>
  <div class="main-container">
    <h1><%= postagem.titulo.toUpperCase() %></h1>
    <p><%= postagem.conteudo %></p>
  </div>
</body>
</html>
